.full-width-input{
	width: 100%;
}

.full-width-input-with-button{
	width: 73%;
	padding-right: 4px;
}

.inline-code{
	background: rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 0.9em;
}

.details{
	margin-left: 8px;
    margin-top: 4px;
}

.details h6{
	margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

.list-command{
	float:right;
	font-size: 0.9em;
}
.list-command:after{
	clear:both;
}

.hide{
	display: none;
}

.row-top-separator{
	border-top: 4px solid rgba(0,0,0,0.3);
}
.row-top-separator-small{
	border-top: 2px solid rgba(0,0,0,0.2);
}

.details-marked{
	border-left: 2px solid rgba(0,0,0,0.2);
	padding-left: 4px;
}

.row-top-separator-padding{
	padding-top: 1em;
}

.hint{
	opacity: 0.8;
	font-size: 0.85em;
}

.fake-checkbox-label{
	display: inline-block;
}