# VisualStudioCode
.gitignore
.gitattributes
.history/
.vscode/
.vscode-test
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

# Windows.gitignore
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

#Sass.gitignore
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# My gitignores
.idea/
.phpunit.cache/
logs/
/vendor/
/tests/
composer.lock
config.php
settings.php
phpunit.xml
.env
.php_cs.dist
.php.*
*.cache
*.log
*.sql
*.sqlite
*.tmp
*.cache
*.jar
*.war
*.nar
*.ear
*.7z
*.zip
*.tar
*.tar.gz
*.rar
